<% layout('layouts/boilerplate')%>
<div class="alert alert-danger" role="alert">
    <div class="col offset-3">
       <h4 class="alert-heading">Oh No!: <%= err.statusCode %></h4>
       <p><%= err.message %></p>
       <hr>
    <p class="mb-0"></p>
    </div>
    
</div>