<% layout('layouts/boilerplate') %>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form class="form mb-3" action="/tickets/<%= ticket._id%>?_method=PUT" method="POST" >
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="title" >Title: </label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" id="title" name="ticket[title]" value="<%= ticket.title %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="desc" >Description: </label>
                    </div>
                    <div class="col">
                        <textarea class="form-control" type="text" id="desc" name="ticket[description]"><%= ticket.description %></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="tStatus" >Status: </label>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="ticket status" name="ticket[ticketStatus]" id="tStatus">
                            <option selected><%= ticket.ticketStatus %></option>
                            <option value="close">close</option>
                            <option value="onhold">place on hold</option>
                            <option value="open">open</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info mb-3">Update</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col"></div>
    </div>
    
</div>