<% layout('layouts/boilerplate') %>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form class="form mb-3 needs-validation" action="/customers" method="POST" novalidate>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" for="fName" >First Name: </label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" id="fName" name="customer[firstName]" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><button class="btn btn-success">Create New Customer</button></div>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>